  html {
    min-width: 1040px;
  }

  body {
    font-family: "Helvetica Neue", Helvetica, sans-serif;


  margin: 1em auto 4em auto;
    position: relative;
    width: 960px;
  }

  h1 {
    font-size: 40px;
    letter-spacing: -2px;
    margin: .3em 0 .1em 0;
  }

  h2 {
    margin-top: 2em;
  }

  h1, h2, h3 {
    font-weight: 300;
    text-rendering: optimizeLegibility;
  }

  ul {
	/*padding-left:  0;*/
  /*margin-left: 5;*/
	margin-top:  0;
  padding-top: 0;
	}


  .home_row {
      float: left;
      width: 100%;
      margin: 0;
  }

  .home_column1 {
      float: left;
      width:  50%;
      margin: 0;
  }

  .home {
      margin-left:  50%;   /*  Change this to the width of my left column */
  }

.cccopyright {
  /*width: 400px;*/
  text-align: right;
  font-size: 10px;
}


.yourTurn  {
      margin-bottom: 1em;
}
